.chat-page-main {
  margin: 0 auto;
  max-width: 700px;
}

.chat-selector-form {
  margin: 1rem;
  border: 1px solid red;
}

.chat-selector-form button {
  float: right;
}

.chat-selector-form p {
  text-align: center;
  margin: 1rem 0;
  clear: both;
}

iframe {
  width: 100%;
}
