.chat-convo-div {
  text-align: left;
  overflow-y: auto;
}

.chat-convo-li {
  line-height: 2rem;
}

.chat-convo-li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.6);
}

.chat-convo-li:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
}
