.chat-convo-div {
  text-align: left;
  overflow-y: auto;
  max-height: 80vh; /*TODO this is arbitrary */
}

.chat-convo-li {
  line-height: 2rem;
}

.chat-convo-li:nth-child(odd) {
  background-color: lightblue;
}
