/* Base Styles */
body {
  width: 100vw;
  height: 100vh;
}

#root {
  font-size: 1.6rem;
  font-family: monospace;
}

/* Link Styles */
a:link {
  color: orange;
  text-decoration: none;
}

a:visited {
  color: orange;
}

a:hover {
  color: blueviolet;
}

a:active {
  color: purple;
}
